{% extends 'tips/layout.html' %}

{% block content %}


    <div class='row'>
        <h2 class = "center-align green lighten-3">{{tip.title}}</h2>  
        
        <div>
            {{tip.created_at}}
        </div>
        <div>{% if tip.hoursFile %}
            <p>File Uploaded! </p>
            <p>{{tip.hoursFile}}</p>
            <!-- <img src="{{tip.hoursFile.url}}"> -->
            {% endif %}
        </div>
    </div>
    <div class='row'>
		<table id="example" class="table table-striped table-bordered display">
			<thead>
				<tr>
					<th colspan=2>Column 1</th>
					
				</tr>
				
			</thead>
			
		</table>
      {% comment %} <table id='example' class="display" style="width:100%" >
				<thead>
					<tr>
						<th>Claddagh</th>
						<th colspan=4>Sunday</th>						
						<th colspan=4>Monday</th>
						<th colspan=4>Tuesday</th>
						<th colspan=4>Wednesday</th>
						<th colspan=4>Thursday</th>
						<th colspan=4>Friday</th>
						<th colspan=4>Saturday</th>
						<th colspan=4>Totals for the Week</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Employee</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
					</tr>
					{% for employee in employees %}
					<tr>
						<td>{{employee.first_name}}, {{employee.last_name}}</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
						<td>12</td>
						<td>13</td>
						<td>14</td>
						<td>15</td>
						<td>16</td>
						<td>17</td>
						<td>18</td>
						<td>19</td>
						<td>20</td>
						<td>21</td>
						<td>22</td>
						<td>23</td>
						<td>24</td>
						<td>25</td>
						<td>26</td>
						<td>27</td>
						<td>28</td>
						<td>29</td>
						<td>30</td>
						<td>31</td>
						<td>32</td>
						<td>33</td>
					</tr> 
					{% endfor %}
					<tr>
						<td>Total</td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cash tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Credit card tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Total tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Total hours</td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cash tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Credit card tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Total tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Wee</td>
						<td>Sunday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Monday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Tuesday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Wednesday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Thursday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Friday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Saturday</td>
						<td></td>
						<td></td>
						<td></td>
						<td>Totals for the Week</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Employee</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
						<td>Hours</td>
						<td>Cash tips</td>
						<td>Credit card tips</td>
						<td>Total tips</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Total</td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cash tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Credit card tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Total tips</td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
						<td></td>
						<td></td>
						<td></td>
						<td> $	-   </td>
					</tr>
					<tr>
						<td>Total hours</td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cash tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Credit card tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Total tips/hour</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table> {% endcomment %}
            </div>
          </div>
	<a href="/tips" class="btn" >Go Back</a>
	
	<script>
		var emplo = "{{% for employee in employees %}}";
	</script>

{% endblock %}