{% extends 'tips/layout.html' %}

{% block content %}


<div>
	<h2 style="margin-top:20px">{{dateRange}}</h2>

	<p>File uploaded: {{tip.hours_file.url}}</p>

</div>

<hr/>

<div class="row">

	{% comment %} <div class="grid-container">
			<div class="grid">
			  <div class="grid-col grid-col--fixed-left">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
				<div class="grid-item">
				  <p>Hello</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
				<div class="grid-item">
				  <p>P</p>
				</div>
			  </div>
		  
			  <div class="grid-col grid-col--fixed-right">
				<div class="grid-item grid-item--header">
				  <p>HEAD</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
				<div class="grid-item">
				  <p>9</p>
				</div>
			  </div>
		  
			</div>
		  </div> {% endcomment %}
	



	{% for location in locations %}
	<div class="my_table table table-striped table-bordered table-hover display table-responsive ">
		<div class="table-wrap">
		  <table class="main-table">
			<thead class="thead-dark sticky-top ">
				<tr>
					<th class="headcol">{{location.name}}</th>	
					{% for day in location.days %}
						<th colspan=4>{{day.week_day}} - {{day.date}}</th>
					{% endfor %}
					<th colspan=5>Totals for the Week</th>
				</tr>
				<tr >
					<th class="headcol">Employee</th>
					{% for day in location.days %}
						<th>Hours</th>
						<th>Cash Tips</th>
						<th>CC Tips</td>
						<th>Total Tips</th>
					{% endfor %}
					
					<th>Hours</th>
					<th>Cash Tips</th>
					<th>CC Tips</th>
					<th>Total Tips w/o MT</th>
					<th>Total Tips w/ MT</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in location.employees %}
				<tr>
					<th class="headcol">{{employee.name}}</th>
					{% if employee.fri_hours %}
						<td class="hours">{{employee.fri_hours}}</td>
						<td>{{employee.fri_cash_tips}}</td>
						<td>{{employee.fri_cred_tips}}</td>
						<td>{{employee.fri_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.sat_hours %}
						<td class="hours">{{employee.sat_hours}}</td>
						<td>{{employee.sat_cash_tips}}</td>
						<td>{{employee.sat_cred_tips}}</td>
						<td>{{employee.sat_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.sun_hours %}
						<td class="hours">{{employee.sun_hours}} </td>
						<td>{{employee.sun_cash_tips}}</td>
						<td>{{employee.sun_cred_tips}}</td>
						<td>{{employee.sun_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.mon_hours %}
						<td class="hours">{{employee.mon_hours}}</td>
						<td>{{employee.mon_cash_tips}}</td>
						<td>{{employee.mon_cred_tips}}</td>
						<td>{{employee.mon_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.tue_hours %}
						<td class="hours">{{employee.tue_hours}}</td>
						<td>{{employee.tue_cash_tips}}</td>
						<td>{{employee.tue_cred_tips}}</td>
						<td>{{employee.tue_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.wed_hours %}
						<td class="hours">{{employee.wed_hours}}</td>
						<td>{{employee.wed_cash_tips}}</td>
						<td>{{employee.wed_cred_tips}}</td>
						<td>{{employee.wed_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.thu_hours %}
						<td class="hours" >{{employee.thu_hours}}</td>
						<td>{{employee.thu_cash_tips}}</td>
						<td>{{employee.thu_cred_tips}}</td>
						<td>{{employee.thu_total_tips}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
					{% if employee.total_hours %}
						<td class="hours">{{employee.total_hours}}</td>
						<td>{{employee.total_cash_tips}}</td>
						<td>{{employee.total_cred_tips}}</td>
						<td>{{employee.total_tips_wo_MT}}</td>
						<td>{{employee.total_tips_w_MT}}</td>
					{% else %}
						<td class="hours"></td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
				</tr> 
				{% endfor %}
				<tr>
					<th class="headcol">Total</th>
					{% for day in location.days %}
					<td class="hours">{{day.total_hours}}</td>
					<td>{{day.cash_tips}}</td>
					<td>{{day.cred_tips}}</td>
					<td>{{day.total_tips}}</td>
					{% endfor%}
					<td class="hours">{{location.total_hours_wo_MT}}</td>
					<td>{{location.cash_tips_w_MT}}</td>
					<td>{{location.cred_tips_w_MT}}</td>
					<td>{{location.total_tips_w_MT}}</td>
					<td>{{location.total_tips_w_MT}}</td>
				</tr>
				<tr>
					<th class="headcol"></th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th class="headcol">Cash Tips</th>
					{% for day in location.days %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>{{day.cash_tips}}</td>
					{% endfor %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.cash_tips_wo_MT}}</td>
				</tr>
				<tr>
					<th class="headcol">Credit Card Tips</th>
					{% for day in location.days %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>{{day.cred_tips}}</td>
					{% endfor %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.cred_tips_wo_MT}}</td>
				</tr>
				<tr>
					<th class="headcol">Total Tips</th>
					{% for day in location.days %}
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>{{day.cred_tips}}</td>
					{% endfor %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.total_tips_wo_MT}}</td>
				</tr>
				<tr>
					<th class="headcol">Total Hours</th>
					{% for day in location.days %}
					<td>{{day.total_hours}}</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					{% endfor %}
					<td>{{location.total_hours_wo_MT}}</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th class="headcol">Cash Tips/Hour</th>
					{% for day in location.days %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{day.total_tips}}</td>
					{% endfor %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.cash_tips_per_hour}}</td>
				</tr>
				<tr>
					<th class="headcol">Credit Card Tips/Hour</th>
					{% for day in location.days %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{day.cred_tips_per_hour}}</td>
					{% endfor%}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.cred_tips_per_hour}}</td>
				</tr>
				<tr>
					<th class="headcol">Total Tips/Hour</th>
					{% for day in location.days %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{day.total_tips_per_hour}}</td>
					{% endfor %}
					<td></td>
					<td></td>
					<td></td>
					<td>{{location.total_tips_per_hour}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div class="row">
	<div class="col-md-7"></div>
      <div class="col-md-3 col-md-offset-9">
        <table class=" table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan=2>Mary's Tip Pool</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mary's Tips (MT)</td>
					<td>{{location.MT}}</td>
				</tr>
				<tr>
					<td>Employees' Total Hours</td>
					<td>{{location.total_hours_wo_MT}}</td>
				</tr>
				<tr>
					<td>MTs per Employee</td>
					<td>{{location.MT_per_employee}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

	{% endfor %}
	</div>



	<div class="row">
		<div>
			<a href="/tips" class="btn btn-info">Go Back</a>
		</div>

	</div>


</div>
	

{% endblock %}