{% extends 'tips/layout.html' %}

{% block content %}

    {% comment %} <div class='row'> {% endcomment %}
        <div>
            <h2 class = "center-align">{{title}}</h2> 
            <br>
            <hr/>

        </div> 
        <div>
            <ul >
                {% for tip in tips %}
                <li class="collection-item"><a href="/tips/details/{{tip.id}}">{{tip.title}}</a></li> 
                {% endfor %}
            </ul>
        </div>
    {% comment %} </div> {% endcomment %}
            



{% endblock %}